.mypy_cache
.vscode/
va/
gpt-2-medium/
gpt-2-model/
gpt-j-6b/
gpt-neo-1.3B/
opt-2.7B/
myenv/
large-gpt-2/
offload/
optimized-opt-2.7B-8bit/
model-mistral-cache/
mistral-7b-instruct-v0.2.Q5_K_M.gguf
mistral-7b-openorca.Q3_K_M.gguf
mistral-7b-openorca.Q4_0.gguf
tmpdir_tts/
tmpdir_vocoder/
whisper/
pretrained_models/
